@charset "utf-8";
/* CSS Document */

.slide {
	margin: 0;
	padding: 0;
}

.background01 {
	position: absolute;
	float: left;
	top: 0;
	height: 100%;
	mix-blend-mode: multiply;
	z-index: 1;
	text-align: center;
	margin-left: .5%;
}
.background10 {
	position: absolute;
	float: left;
	top: 0;
	height: 100%;
	mix-blend-mode: multiply;
	z-index: 2;
	text-align: center;
	margin-left: .5%;
}

.napkins1 {
	position: absolute;
	float: left;
	transform: rotate(-5deg);
	height: 66%;
	z-index: 6;
}
.napkins2 {
	position: absolute;
	float: left;
	transform: rotate(5deg);
	height: 66%;
	z-index: 6;
}
.pos01 {
	top: 10%;
	left: 9%;
}
.pos02 {
	top: 10%;
	left: 13.5%;
}
.pos03 {
	top: 10%;
	left: 21.5%;
}
.pos04 {
	top: 10%;
	left: 26%;
}
.pos05 {
	top: 10%;
	left: 34%;
}
.pos06 {
	top: 10%;
	left: 38.5%;
}
.pos07 {
	top: 10%;
	left: 46.5%;
}
.pos08 {
	top: 10%;
	left: 51%;
}
.pos09 {
	top: 10%;
	left: 59%;
}
.pos10 {
	top: 10%;
	left: 63.5%;
}
.pos11 {
	top: 10%;
	left: 71.5%;
}
.pos12 {
	top: 10%;
	left: 76%;
}
.pos13 {
	top: 10%;
	left: 84%;
}
.pos14 {
	top: 10%;
	left: 88.5%;
}
.pos15 {
	top: 10%;
	left: 96.5%;
}


.pics1 {
	position: absolute;
	float: left;
	transform: rotate(5deg);
	height: 50%;
	z-index: 3;
}
.pics2 {
	position: absolute;
	float: left;
	transform: rotate(-5deg);
	height: 50%;
	z-index: 3;
}
.pic01 {
	top: 20%;
	left: 7.5%;
}
.pic02 {
	top: 20%;
	left: 16.5%;
}
.pic03 {
	top: 20%;
	left: 20%;
}
.pic04 {
	top: 20%;
	left: 29%;
}
.pic05 {
	top: 20%;
	left: 32.5%;
}
.pic06 {
	top: 20%;
	left: 41.5%;
}
.pic07 {
	top: 20%;
	left: 45%;
}
.pic08 {
	top: 20%;
	left: 54%;
}
.pic09 {
	top: 20%;
	left: 57.5%;
}
.pic10 {
	top: 20%;
	left: 66.5%;
}
.pic11 {
	top: 20%;
	left: 70%;
}
.pic12 {
	top: 20%;
	left: 79%;
}
.pic13 {
	top: 20%;
	left: 82.5%;
}
.pic14 {
	top: 20%;
	left: 91.5%;
}
.pic15 {
	top: 20%;
	left: 95%;
}


.vid02 {
	top: 20%;
	left: 16.5%;
}
.vid03 {
	top: 20%;
	left: 19.5%;
}